﻿@model SoSTallerConsole.Models.ChatViewModel
@{
    ViewBag.Title = "Mensajes";
}
<link href="~/Content/chat.css" rel="stylesheet" />
<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Mensajes de Usuario</h3>

            </div>
        </div>

        <div class="clearfix"></div>
        @using (Html.BeginForm("ViewMessage", "Manage", FormMethod.Post, new { id = "formMessage" }))
        {
            @Html.HiddenFor(model=> model.IdUser)
            <div class="container">
                <div class="ks-page-content">
                    <div class="ks-page-content-body">
                        <div class="ks-messenger">
                            <div class="ks-discussions">
                                <div class="ks-search">
                                    <div class="input-icon icon-right icon icon-lg icon-color-primary">
                                        <input id="input-group-icon-text" type="text" class="form-control" placeholder="">
                                        <span class="icon-addon">
                                            <span class="la la-search"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="ks-body ks-scrollable jspScrollable" data-auto-height="" style=" overflow-y: auto; padding: 0px; width: 100%; height: 100%; max-height: 800px" tabindex="0">

                                    <div class="jspContainer" style="width:100%; height: 95%;">
                                        <div class="jspPane" style="padding: 0px; top: 0px; width: 100%">
                                            <ul class="ks-items listAllMessages" id="listAllMessages">
                                               

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ks-messages ks-messenger__messages">
                                <div class="ks-header">
                                    <div class="ks-description">
                                        <div class="ks-name" ><label id="userName"></label></div>
                                        <div class="ks-amount"></div>
                                    </div>
                                </div>
                                <div class="ks-body ks-scrollable jspScrollable" data-auto-height="" data-reduce-height=".ks-footer" data-fix-height="32" style=" overflow: auto; padding: 0px; width: 100%;" tabindex="0">
                                    <div class="jspContainer" style="width: 100%;height:500px ">
                                        <div class="jspPane" style="padding: 0px; top: 0px; width: 100%;">
                                            <ul class="ks-items" id="listCurrentMessages">
                                               
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="ks-footer">
                                    @Html.TextAreaFor(model => model.Message,  new { @class = "form-control",@rows=4, @style="height: 100%;"} )
                                    
                                    <div class="ks-controls">
                                        <button class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <input type="submit" id="btnSubmit" hidden="hidden"/>
        }
    </div>
</div>
@section scripts {

    <script type="text/javascript">

        $(document).ready(function() {
       
            $('.listAllMessages').on('click', 'a', function() {
                var id = $(this).data('id');
                $("#@Html.IdFor(model => model.IdUser)").val(id);
                $("#formMessage").submit();
            });
            var allMessages = @(Html.Raw(Json.Encode(Model.AllMessages)));
            $("#@Html.IdFor(model=> model.Message)").val("");
            // agrega los mensages agrupados
            for (var i = 0; i < allMessages.length; i++) {
                var status = "";
                var iconNew = "";
                var iconSaw = "";
                var iconAnswered = "";

                // estilo de link 
                if (allMessages[i].New)
                    status = 'ks-unread';
                else if (allMessages[i].Current)
                    status = 'ks-active';


                var li = '<li class="ks-item ' +
                    status +
                    '"><a href="#" class="linkC" data-id="' +
                    allMessages[i].IdUser +
                    '">';
                if (allMessages[i].Answered)
                    li += ' <span class="ks-answered"><i class="fa fa-mail-reply "></i></span>';
                if (allMessages[i].New)
                    li += '<span class="ks-new"><i class="fa fa-star "></i></span>';
                else
                    li += ' <span class="ks-saw"><i class="fa fa-eye "></i></span>';

                li += ' <span class="ks-group-amount">' + allMessages[i].TotalMessages + '</span>';
                li += ' <div class="ks-body"><div class="ks-name">';
                li += allMessages[i].User;
                li += ' <span class="ks-datetime">' + allMessages[i].Date + ' </span> </div>';
                li += ' <div class="ks-message">';
                li += allMessages[i].Message;
                li += ' </div></div></a></li>';
                $("#listAllMessages").append(li);
            }

            // agrega el detalle del seleccionado

            var currentMessages = @(Html.Raw(Json.Encode(Model.CurrentMessages)));
            for (var i = 0; i < currentMessages.length; i++) {
                var li = "";
                if (currentMessages[i].Send==0) {
                    li += '<li class="ks-item ks-self">';
                    li += '<span class="ks-avatar ks-offline">';
                    li += '<img src="/Images/user.jpg" width="36" height="36" class="rounded-circle">';
                    li += '</span>';
                    li += '<div class="ks-body"><div class="ks-header">';
                    li += '<span class="ks-datetime">'+currentMessages[i].Date +'</span></div>';
                    li += '<div class="ks-message">'+currentMessages[i].Message +'</div>';
                    li += '</div></li>';
                } else {
                    li += '<li class="ks-item ks-from">';
                    li += '<span class="ks-avatar ks-online">';
                    li += '<img src="/Images/LM.jpg" style="" class="rounded-circle"></span>';
                    li += '<div class="ks-body"><div class="ks-header">';
                    li +=
                        '<span class="ks-datetime" style="width: 100%;text-align: right;">'+currentMessages[i].Date +'</span>';
                    li += '</div>';
                    li +='<div class="ks-message" style="text-align: right">'+currentMessages[i].Message+'</div>';
                    li += '</div></li>';
                }
                
                $("#listCurrentMessages").append(li);
            }

            if (@Model.IdUser > 0)
                $("#userName").val(allMessages[0].User);
            $("#@Html.IdFor(x=> x.Message)").on('keyup', function (e) {
                if (e.keyCode === 13) {
                    $("#formMessage").submit();
                }
            });

            $( "#formMessage" ).focus();
        });
    </script>
}

