﻿@model SoSTallerConsole.Models.MessageModel
@{
    ViewBag.Title = "Producto";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Envio de Mensajes </h3>
        </div>
    </div>
    <div class="clearfix"></div>
  
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Ingrese el texto que sesea se envie a los usuarios del aplicativo </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content form-horizontal form-label-left">

                        <div class="item control-group ">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Mensaje</label>
                            <div class="control-label col-md-11 col-sm-11 col-xs-12">
                                <input type="text" id="msgAll" class ="form-control" required = "required"/>
                                
                            </div>
                        </div>

                        <div class="control-label col-md-1 col-sm-1 col-xs-12 alignright">
                            <button type="button" id="btnSendAll" name="btnSendAll" class="btn btn-success">Enviar <i class="fa envelope-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Envio de Mensajes de Prueba </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content form-horizontal form-label-left">

                        <div class="item control-group ">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Usuarios</label>
                            <div class="control-label col-md-11 col-sm-11 col-xs-12">
                                @Html.DropDownListFor(model => model.IdsList, Model.UsersList)
                            </div>
                        </div>
                        <div class="item control-group ">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">Mensaje</label>
                            <div class="control-label col-md-11 col-sm-11 col-xs-12">
                                <input type="text" id="msgSome" class ="form-control" required = "required"/>
                            </div>
                        </div>

                        <div class="control-label col-md-1 col-sm-1 col-xs-12 alignright">
                            <button type="button" id="btnSendSome" name="btnSendSome" class="btn btn-success">Enviar <i class="fa envelope-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>

@section scripts {
    @Scripts.Render("~/bundles/Select2")
    @Styles.Render("~/bundles/Select2css")
    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#btnSendSome").click(function () {

                if ($("#msgSome").val() == "") {
                    alert("Es necesario ingresar un mensaje");
                    return;
                }
                if ($("#IdsList").val()== null) {
                    alert("Es necesario seleccionar al menos un usuario");
                    return;
                }

                var data = { "Message": $("#msgSome").val(), "IdUsers":$("#IdsList").val().join() };
                debugger;
                $.ajax({
                    type: "POST",
                    url: "http://mpast.biz/api/comment/send-message-users",
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function(result) {
                        if (result == "correcto")
                            alert("El mensaje se envio correctamente");
                        else
                            alert(result);
                        $("#msgSome").val("");
                      
                    },
                    error: function(xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);

                    }
                });

            }); 
            $("#btnSendAll").click(function () {
                if ($("#msgAll").val() == "") {
                    alert("Es necesario ingresar un mensaje");
                    return;
                }
                    
                var data = { "Message": $("#msgAll").val() };
                debugger;
                $.ajax({
                    type: "POST",
                    url: "http://mpast.biz/api/comment/send-message",
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result == "correcto")
                            alert("El mensaje se envio correctamente");
                        else
                            alert(result);

                        $("#msgAll").val("");

                    },
                    error: function(xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);

                    }
                });

            });



            $("#IdsList").addClass("form-control select2");
            $("#IdsList").attr("multiple", "multiple");
            $("#IdsList").val(@Html.Raw(Json.Encode(Model.IdsList)));
            $('.select2').select2();
         
            if ('@ViewBag.Result' != '') {
                $(".Message").val("");
                alert('@ViewBag.Result');
            }
        });
    </script>
}