﻿@model SoSTallerConsole.Models.SearchEmpresaModel

@{
    ViewBag.Title = "Empresa";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Empresa</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Catalogo Usuarios </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button type="button" class="btn btn-info">Nuevo   <i class="fa fa-plus"></i></button>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="span3">
                        <div class="control-group ">

                            @Html.LabelFor(model => model.Empresa, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="span1">
                        <br />
                        <input type="button" id="btnBuscar" class="btn btn-success" value="Buscar" />
                    </div>

                    <div id="divTableDataHolder">
                        <table id="UserGrid" style="width: 95%;">
                            <thead>
                                <tr style="text-align: left">
                                    <th>Nombre</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")

    @Scripts.Render("~/Content/dataTable")
    @Styles.Render("~/Content/dataTable")

    <script type="text/javascript">
        $(document).ready(function () {


            if ("@ViewBag.MessageAlert" != "") {
                $('#ModalMessage').modal('show');
            }
            var table;

            function Delete(id) {

                jConfirm('¿Estas seguro de eliminar a esta Empresa?', 'Administración de Empresa', function (r) {
                    if (r == false) return;
                    else {
                        debugger;
                        var parameters = "{'idUser':'" + id + "'}";
                        $.ajax({
                            type: "POST",
                            url: "Account/EliminarEmpresa",
                            data: parameters,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            async: false,
                            success: function (msg) {
                                table.draw(false);
                                $('#MessageAlert').text(msg);
                                $('#ModalMessage').modal('show');
                            },
                            error: function (xhr, status, error) {
                                var err = eval("(" + xhr.responseText + ")");
                                if (err.Message && err.Message.indexOf("expirado") != -1)
                                    setTimeout(function () { window.location = urlCerrarSession; }, 5000);
                            }
                        });
                    }
                });

            }

            $('#btnBuscar').click(function () {
                table.draw(false);
            });

            table = $("#UserGrid").DataTable({
                // lengthMenu: [10, 25, 50, 75, 100],
                bProcessing: true,
                processing: true,
                bServerSide: true,
                searching: false,
                bSort: false,
                bLengthChange: false,
                sAjaxSource: "GetCompany",
                columns: [
                    {"title": "Nombre Empresa", "sClass": "left", sDefaultContent: "" },
                    //{"title": "Clave Usuario", sDefaultContent: "" },
                    //{"title": "Fecha de Registro", "sClass": "left"},
                    //{"title": "Rol", sDefaultContent: "" },
                    //{"title": "Estatus", sDefaultContent: "" },
                    {
                        "title": "",
                        sDefaultContent: "",
                        "mRender": function (data, type, full) {
                            return "<a href='/Account/EditarEmpresa?idUser=" + full[1].toString() + "' class='btn btn-small btn-success'> <i class='btn-icon-only icon-pencil'> </i></a>"
                                + " <a id=\"delete\" title=\"Eliminar-" + full[1].toString() + "\" "+ " ' class='btn btn-small btn-danger'> <i class='btn-icon-only icon-remove'> </i></a>";

                        }
                    }
                ],
                oLanguage: {
                    "sProcessing": "Procesando...",
                    // "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay registros.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "No existen registros que mostrar.",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    // "sSearch": "Número de Certificado:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                fnServerData: function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "Empresa", "value": $("#@Html.IdFor(model => model.Empresa)").val() });

                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "async": false,
                        "success": function (msg) {
                            fnCallback(msg);

                        },
                        "error": function (xhr, status, error) {
                            alert(xhr.responseText);

                            $("#UserGrid_wrapper").remove();

                        }
                    });
                }
            });

            $('#UserGrid tbody').on('click', 'a', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[6];
                if ($(this).attr("id") === "delete") {
                    Delete(id);
                }
            });
        });
    </script>
}