﻿@using Desarrollo.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout=null;
}
<style>
    body, html {
        height: 100%;
    }

    .bg { 
        /* The image used */
        background-image: url("../Images/collage.jpg");
        
        -webkit-filter: opacity(90%); /* Chrome, Safari, Opera */
        filter: opacity(90%);

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .moduleP {
        // position: relative;
    }
    .moduleP::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../Images/collage.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: opacity(90%); /* Chrome, Safari, Opera */
        filter: opacity(90%);
       
    }
    body {
        color: #0b2f54 !important;
        background: #d2d6da !important;
    }
    .log {
        background-color: #e0e5ef;
        padding-right: 40;
        padding-left: 40;
        max-width: 450px !important;
    }
</style>
<body class="moduleP">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper log">
        <section class="login_content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                <h1>Iniciar Sesión </h1>
                <div>
                    @Html.TextBoxFor(m => m.Email, new
                    {
                        @class = "form-control",
                        @placeholder = "usuario"
                    })
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new
                    {
                        @class = "form-control",
                        @placeholder = "password"

                    })

                </div>
                <div>
                    <input type="submit" class="btn btn-default submit" value="Entrar" />
                    <a class="reset_pass" href="#">¿Olvidaste tu contraseña?</a>
                </div>

                <div class="clearfix"></div>


                <div class="clearfix"></div>
                <br />

                <div>
                    <h1>Prospectos</h1>
                    <p></p>
                </div>
            }
        </section>
    </div>
</div>
</body>

@Styles.Render("~/Content/css")