﻿@model SoSTallerConsole.Models.UserViewModel
@{
    ViewBag.Title = "Usuarios";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuarios</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Catalogo Usuarios </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                           

                            <a href="@Url.Action("ExportUsers")" class="btn btn-info" style="color:white !important">
                                Descargar   <i class="fa fa-file-excel-o"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    
                    <div class="item control-group ">
                                        
                        <label class="control-label col-md-1 col-sm-1 col-xs-12">Nombre</label>
                        <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        
                    </div>
                    <div class="item control-group ">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12">Correo</label>
                        <div class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="item control-group ">
                        <div class="control-label col-md-2 col-sm-2 col-xs-12 alignright">
                            <input type="button" id="btnBuscar" class="btn btn-success" value="Buscar" />
                        </div>
                    </div>

                        <div id="divTableDataHolder">
                            <table id="UserGrid" style="width: 95%;" class="table table-striped table-bordered">
                                
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/Content/dataTable")
    @Styles.Render("~/Content/DataTableStyle")

    <script type="text/javascript">
    $(document).ready(function () {


        var table;


        $('#btnBuscar').click(function () {
            table.draw(false);
        });

        table = $("#UserGrid").DataTable({
            // lengthMenu: [10, 25, 50, 75, 100],
            bProcessing: true,
            processing: true,
            bServerSide: true,
            searching: false,
            bSort: false,
            bLengthChange: false,
            sAjaxSource: "GetUser",
            columns: [
                { "title": "Nombre ", sDefaultContent: "" },
                { "title": "Correo", sDefaultContent: "" },
                { "title": "Ocupacion" },
                {
                    "title": "Estatus",
                    sDefaultContent: "",
                    "mRender": function (data, type, full) {
                        if (data == "True")
                            return " <a id=\"delete\" title=\"Eliminar-" + full[5].toString() + "\" " + " ' class='btn btn-small btn-info'> Activo</a>";
                        else
                            return " <a id=\"delete\" title=\"Eliminar-" + full[5].toString() + "\" " + " ' class='btn btn-small btn-danger'> Inactivo </a>";

                    }
                }, { "title": "Fecha de Registro" }
            ],
            oLanguage: {
                "sProcessing": "Procesando...",
                // "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No hay registros.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "No existen registros que mostrar.",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                // "sSearch": "Número de Certificado:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            fnServerData: function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "Name", "value": $("#@Html.IdFor(model => model.Name)").val() });
                    aoData.push({ "name": "Email", "value": $("#@Html.IdFor(model => model.Email)").val() });

                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "async": false,
                        "success": function (msg) {
                            fnCallback(msg);

                        },
                        "error": function (xhr, status, error) {
                            alert(xhr.responseText);

                            $("#UserGrid_wrapper").remove();

                        }
                    });
                }
            });

            $('#UserGrid tbody').on('click', 'a', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[5];
                if ($(this).attr("id") === "delete") {
                    $.ajax({
                        url: 'EnabledUser',
                        type: 'POST',
                        data: JSON.stringify({ id: id }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            //  alert(result);
                         
                        table.draw(false);
                    },
                    error: function (result) {

                    },
                    async: true,
                    processData: false
                });
            }
        });
    });
    </script>
}