﻿@model Desarrollo.Models.EditProsDocView
@{
    ViewBag.Title = "Prospect";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Archivos de Prospectos</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Documentos </h2>
                    @Html.HiddenFor(model => model.ProspectId)
                    <div class="clearfix"></div>
                </div>
                <div class="item control-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Documento</label>
                    <div class="controls  col-md-9 col-sm-9 col-xs-12 ">
                        @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="x_content form-horizontal">
                    <div id="divTableDataHolder">
                        <table id="DocumentsGrid" style="width: 95%;" class="table table-striped table-bordered ">
                        </table>
                    </div>
                </div>
                    <div class="x_content form-horizontal form-label-left">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <form id="formUpdate" class="item  form-group">
                                        @*@using (Html.BeginForm("EditProsDo", "addFilestoProspect", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {*@
                                        @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label"})
                                            <input type="file" name="File" required />
                                        @* } *@
                                    </form>
                                </td>
                            </tr>
                        </table>

                        <div class="control-label col-md-1 col-sm-1 col-xs-12 alignright">
                            <button type="button" id="btnGuardar" name="btnGuardar" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
                        </div>
                        <div class="control-label col-md-1 col-sm-1 col-xs-12 alignright">
                            @Html.ActionLink("Cancelar", "Prospects", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>

            </div>
    </div>
</div>
</div>
@section scripts {

    @Scripts.Render("~/Content/dataTable")
    @Styles.Render("~/Content/DataTableStyle")
<script type="text/javascript">
        $(document).ready(function () {
            var table;

            table = $("#DocumentsGrid").DataTable({
                // lengthMenu: [10, 25, 50, 75, 100],
                bProcessing: true,
                processing: true,
                bServerSide: true,
                searching: false,
                bSort: false,
                bLengthChange: true,
                sAjaxSource: "GetProsDoc",
                columns: [
                    {"title": "Nombre del archivo", sDefaultContent: "" },
                   
                ],
                oLanguage: {
                    "sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay registros.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "No existen registros que mostrar.",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    // "sSearch": "Número de Certificado:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                fnServerData: function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "FileName", "value": $("#@Html.IdFor(model => model.ProspectId)").val() });

                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "async": false,
                        "success": function (msg) {
                            fnCallback(msg);

                        },
                        "error": function (xhr, status, error) {
                            alert(xhr.responseText);

                            $("#ProspectGrid_wrapper").remove();

                        }
                    });
                }
            });

            $('#btnGuardar').click(function (e) {

                var form = $('#formUpdate')[1];
                var data = new FormData(form);



                if ($('#FilePath').val() == "") {
                    alert("Debe ingresar un archivo");

                    return;
                }


                var model = {
                    ProspectId: $('#ProspectId').val(), FilePath: $('#FilePath').val(), File: $('#File').val()
                };


                $.ajax({
                    url: 'addFilestoProspect',
                    type: 'POST',
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (xhr) {
                        //  alert("Se guardo correctamente");

                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (result) {
                        alert("Se guardo correctamente");
                        window.location.href = "Prospects";
                    },
                    async: true,
                    processData: false
                });



            });
        });
</script>
}