﻿@model Desarrollo.Models.EditProspectStatusView
@{
    ViewBag.Title = "Prospect";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Editar Modelo</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Generales </h2>
                    @Html.HiddenFor(model => model.ProspectId)
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal form-label-left">
                    <table style="width: 100%">
                        <tr>
                            @*<td style="width: 20%">
                                    <form id="formUpdate">
                                        <div class="col-md-55">
                                            <div class="">
                                                <input type="file" name="UploadFile" id="txtUploadFile" class="" accept="image/x-png,image/gif,image/jpeg" />
                                                <div class="image view view-first" id="divImg1" style="width: 250px">
                                                    <img id="img1" style="width:100%; display: block;" src="@ViewBag.Image1" alt="image" />
                                                    <div class="mask">
                                                        <div class="tools tools-bottom">
                                                            <a href="#" id="delImg1"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </td>*@
                            <td>
                                <div class="item control-group ">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Status</label>
                                    <div class="control-label col-md-4 col-sm-4 col-xs-12">
                                        @Html.DropDownListFor(model => model.StatusId, Model.Statuses, "---SELECCIONE UNA OPCIÓN---", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Observaciones</label>
                                    <div class="control-label col-md-4 col-sm-4 col-xs-12">
                                        @Html.EditorFor(model => model.Observatoins, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                </td>
                </tr>
                </table>


                <div class="control-label col-md-1 col-sm-1 col-xs-12 alignright">
                    <button type="button" id="btnGuardar" name="btnGuardar" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
                </div>
                <div class="control-label col-md-1 col-sm-1 col-xs-12 alignright">
                    @Html.ActionLink("Cancelar", "Prospects", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts {

    @Scripts.Render("~/Content/dataTable")
    @Styles.Render("~/Content/DataTableStyle")
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnGuardar').click(function (e) {

                var form = $('#formUpdate')[1];
                var data = new FormData(form);



                if ($('#StatusId').val() == "3" && $('#Observatoins').val() == "") {
                    alert("Debe ingresar sus observaciones.");

                    return;
                }


                var model = {
                    StatusId: $('#StatusId').val(), ProspectId: $('#ProspectId').val(), Observatoins: $('#Observatoins').val()
                };


                $.ajax({
                    url: 'SaveProspectStatus',
                    type: 'POST',
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (xhr) {
                        //  alert("Se guardo correctamente");

                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (result) {
                        alert("Se guardo correctamente");
                        window.location.href = "Prospects";
                    },
                    async: true,
                    processData: false
                });



            });
        });
    </script>
}