﻿@model Desarrollo.Models.ProspectViewModel

@{
    ViewBag.Title = "Prospects";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Prospectos</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Listado de Prospectos </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a href="@Url.Action("AddProspect", "Catalog")" class="btn btn-info" style="color:white !important">
                                Nuevo   <i class="fa fa-plus"></i>
                            </a>

                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal">

                    <div class=""item control-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Prospectos</label>
                        <div class="controls  col-md-9 col-sm-9 col-xs-12 ">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="item control-group " style="padding-top: 10px;">
                        <div class="control col-md-1 col-sm-1 col-xs-12">
                            <button type="button" id="btnBuscar" class="btn btn-round btn-xs btn-primary"><i class='fa fa-search '> </i>  </button>
                        </div>                       
                    </div>


                    <div id="divTableDataHolder">
                        <table id="ProspectGrid" style="width: 95%;" class="table table-striped table-bordered ">

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    @Scripts.Render("~/Content/dataTable")
    @Styles.Render("~/Content/DataTableStyle")

    <script type="text/javascript">
        $(document).ready(function () {


            var table;


            $('#btnBuscar').click(function () {
                table.draw(false);
            });

            table = $("#ProspectGrid").DataTable({
                // lengthMenu: [10, 25, 50, 75, 100],
                bProcessing: true,
                processing: true,
                bServerSide: true,
                searching: false,
                bSort: false,
                bLengthChange: true,
                sAjaxSource: "GetProspect",
                columns: [
                    {"title": "Nombre Completo", sDefaultContent: "" },
                    {
                        "title": "",
                        sDefaultContent: "",
                        "mRender": function (data, type, full) {
                            return "<a href='/Catalog/editProspect?ProspectId=" + data + "' class='btn btn-small btn-success'> <i class='fa fa-pencil'> </i></a>";

                        }
                    },{
                        "title": "Estatus",
                        sDefaultContent: "",
                        "mRender": function (data, type, full) {
                            if (data == 1)
                                return " <a href='/Catalog/editProspectStatus?ProspectId="  + full[1].toString() + " ' class='btn btn-small btn-warning'>" + full[5].toString() + "</a>";
                            if (data == 2)
                                return " <a href='/Catalog/editProspectStatus?ProspectId=" + full[1].toString()  + " ' class='btn btn-small btn-success'>" + full[5].toString() + "</a>";
                            else
                                return " <a href='/Catalog/editProspectStatus?ProspectId=" + full[1].toString()  + " ' class='btn btn-small btn-danger'>" + full[5].toString() + "</a>";
                        }
                    },
                    {
                        "title": "Observaciones",
                        sDefaultContent: ""
                    },
                    {
                        "title": "Archivos",
                        sDefaultContent: "",
                        "mRender": function (data, type, full) {
                            if (data == 0)
                                return "<a href='/Catalog/EditProsDo?ProspectId=" + full[1].toString() + " 'class='btn btn-small'><i class='fa fa-stop-circle''> </i></a>";
                            else
                                return "<a href='/Catalog/EditProsDo?ProspectId=" + full[1].toString() + "' class='btn btn - small btn-mail'></i></a>";
                        }
                    }  
                ],
                oLanguage: {
                    "sProcessing": "Procesando...",
                     "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay registros.",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "No existen registros que mostrar.",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    // "sSearch": "Número de Certificado:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                fnServerData: function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "Name", "value": $("#@Html.IdFor(model => model.Name)").val() });

                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "async": false,
                        "success": function (msg) {
                            fnCallback(msg);

                        },
                        "error": function (xhr, status, error) {
                            alert(xhr.responseText);

                            $("#ProspectGrid_wrapper").remove();

                        }
                    });
                }
            });

            $('#ProspectGrid tbody').on('click', 'a', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[1];
                if ($(this).attr("ProspectId") === "delete") {
                    $.ajax({
                        url: 'EnabledProspect',
                        type: 'POST',
                        data: JSON.stringify({ id: id }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            //  alert(result);
                            $("#@Html.IdFor(model => model.Name)").val("");
                            table.draw(false);
                        },
                        error: function (result) {
                        
                        },
                        async: true,
                        processData: false
                    });
                }
            });
        });
    </script>
}